     * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      h1 a {
        margin-left: 30px;
        text-decoration: none;
        color: black;
      }
      nav {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(168, 206, 206);
      }
      .navlinks {
        display: flex;
        gap: 30px;
      }
      .navlinks a {
        text-decoration: none;
        color: black;
        margin-right: 40px;
        font-size: 20px;
        font-weight: 600px;
         padding: 7px 17px;
      }
      .navlinks a:hover{
         padding: 7px 17px;
        background-color: antiquewhite;
        border-radius: 20px;
      }